<<<<<<< HEAD
body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  width: 100%;
  min-height: 100vh;
  background-color: #181818;
  color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  
}

.card {
  background-color: rgb(255, 255, 255);
  color: black;
  height: 350px;
  width: 320px;
  border-radius: 40px;
  padding: 30px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img {
  height: 60px;
  border: 1px solid #a6a6a6;
  border-radius: 50%;
}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px;
  border-radius: 8px;
  font-size: 18px;
  gap: 3px;
  background-color: transparent;
  color: #7c7c7c;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(179, 179, 179);
  padding: 10px;
  padding-top: 15px;
}

.bottom p {
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #6e6e6e;
}

.bottom button {
  width: 120px;
  padding: 10px;
  border-radius: 8px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 span {
  margin-left: 2px;
  font-size: 13px;
  color: rgb(146, 146, 146);

}


.centre {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centre h4 {
  margin: 2px;
  display: inline-block;
  padding: 3px;
  font-size: 10px;
  margin-top: 12px;
  width: 60px;
  border-radius: 6px;
  background-color: #cbcbcb;
  text-align: center;
=======
body{
  background-color: black;
  color:#fff;
>>>>>>> b6f55f7 (refactor: move learning code into the project and add initial client data fetch)
}